<!DOCTYPE html>
<html lang="en">


<body>

    <header class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/v" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none brand">
                  Magaz
              </a>
      
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li class="center-text">
                <a href="/clearWish/<%= name %> " class="nav-link text-white">
                    <button type="button" class="btn btn-outline-light button-header bi d-block mx-auto mb-1" width="24" height="24">
                        <img class="svg" src="images/remove.svg" alt="">
                    </button>
                  Clear
                </a>
              </li>
              <li class="center-text">
                <a href="/cart" class="nav-link text-white">
                    <button type="button" class="btn btn-outline-light button-header bi d-block mx-auto mb-1" width="24" height="24">
                        <img class="svg" src="images/shopping.svg" alt="">
                    </button>
                  Cart
                </a>
              </li>
              <li class="center-text">
                <a href="/logout" class="nav-link text-white">
                    <button type="button" class="btn btn-outline-light button-header bi d-block mx-auto mb-1" width="24" height="24">
                        <img class="svg" src="images/signout.svg" alt="">
                    </button>
                  Signout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <h1 class="text-top">Wishlist</h1>

        <div class="container-fluid">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Seller</th>
                </tr>
              </thead>
              <% foundWishlist.forEach(function(item){ %>
              <tbody>
                <tr>
                  <th scope="row"><%= countMin %></th>
                  <td><%= item.product %></td>
                  <td><%= item.seller %></td>
                </tr>
              </tbody>
              <% if(countMin < countMax) { %>
              <% countMin++ } %>
              <% }) %>
            </table>
        </div>

</body>
    

</html>
